/* TODO Add site wide styles */
/*  classes: leftnav, rightnav, middlenav, navbar, rightnavlogged
    id: logo, home, library, search, signin, signup, settings
*/
.outer-nav {
    display: flex;
    width: 100%;
    height: 47px;
    background-color: #333;
    position: fixed;
    flex-grow: 0;
}
.navbar {
    display: flex;
    width: 100%;
    height: 46px;
    background-color: #333;
    margin-left: 128px;
    margin-right: 128px;
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.leftnav {
    display: inherit;
    border: 1px solid #4b4b4b;
    width: 100%;
    height: inherit;
}

#logo {
    width: 33.33%;
    height: inherit;
    border: inherit;
    text-align: center;
}
#logo svg {
    margin-top: 3px;
    height: 30px;
    fill: white;
}

#home {
    width: 33.33%;
    height: inherit;
    border: inherit;
    text-align: center;
}
#homelogo {
    height: 30px;
    fill: white;
}

#library {
    width: 33.33%;
    height: inherit;
    border: inherit;
    font: inherit;
    text-align: center;
    text-justify: center;
    color: white;
    padding-top: 10px;
}

.middlenav {
    width: 100%;
    height: inherit;
    text-align: center;
}

#search {
    height: 30px;
    width: 90%;
    margin-top: 9px;
    border: 1px;
    border-radius: 4px;
}
.rightnav {
    display: inherit;

    width: 100%;
    height: inherit;
    font: inherit;
    padding: 13px;
    border-radius: 5px;
}

#login {
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    color: white;
    background-color: inherit;
    margin-right: 10px;
    height: 25px;

}

#signup {
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 174, 240);
    height: 25px;
}

.rightnavlogged {
    display: inherit;
    height: inherit;
    width: 100%;
    font: inherit;
    border-radius: 5px;
    padding: 8px;
}

#settings {
    justify-self: flex-end;
    float: right;
    font: inherit;
    color: white;
}